{% extends 'base.html' %} {% block body-block %}
<div id="detailpage" class="border-top border-bottom border-success">
  <div class="d-flex flex-column mt-4 mb-3" id="notopaque">
    <div class="container">
      <div class="d-flex flex-row" id="brand-info">
        <img
          class=" border border-secondary w-50 h-25"
          src="{{ startup.logo.url }}"
          alt="no logo"
        />
        <div
          class="d-flex flex-column justify-content-center"
          style="width:30em"
        >
          <h2 class="align-self-center p-4 display-4">{{ startup.name }}</h2>
          <div class="align-self-center">
            <a href="{{ startup.site }} p-4">{{ startup.site }}</a>
          </div>
        </div>
      </div>
    </div>

    {% if user.is_authenticated %}
    <div class="p-4">
      <hr />
      <div class="d-flex flex-row justify-content-around mt-5">
        <a href="{% url 'app1:form' %}" class="btn btn-success btn-lg"
          >apply for internship/Job</a
        >

        <a href="#" class="btn btn-warning btn-lg">Invest</a>
      </div>
    </div>
    {% endif %}

    <div class="text-center p-4">
      <h4>Net-worth</h4>
      <p>
        {{ startup.networth }}
      </p>
    </div>
    <!-- <div class="text-center p-4 text-dark">
    <h4>Founders</h4>

    <section id="authors">
      <div class="container">
        <div class="card-deck">
          {% for founder in startup.founders.all %}

          <div class="card">
            <img
              src="{{ founder.profilepic.url }}"
              alt="no image"
              class="card-img-top"
            />
            <div class="card-body">
              <h3>{{ founder.name }}</h3>
              <h5 class="text-muted">{{ founder.post }}</h5>

              <p>{{ founder.email }}</p>
            </div>
          </div>

          {% empty %} {% endfor %}
        </div>
      </div>
    </section>
  </div>

  <div class="text-center p-4 text-dark">
    <h4>Investors</h4>

    <section id="authors">
      <div class="container">
        <div class="card-deck">
          {% for investor in startup.investors.all %}

          <div class="card">
            <img
              src="{{ investor.profilepic.url }}"
              alt="no image"
              class="card-img-top"
            />
            <div class="card-body">
              <h3>{{ investor.name }}</h3>
              <h5 class="text-muted">{{ investor.investment }}</h5>

              <p>{{ investor.email }}</p>
            </div>
          </div>

          {% empty %} {% endfor %}
        </div>
      </div>
    </section>
  </div>-->
  </div>
</div>
{% endblock %}
