{% extends 'base.html' %} {% block body-block %}
<!-- <div class="container">
  {% include 'alerts.html' %}
  <div class="jumbotron">
    <h1>welcome to STARTHUB</h1>
  </div>
</div> -->
<div id="particles-js" style="height:39em"></div>
<div class="container" style="position:absolute;top:10em;left:15em;">
  <h2 class="display-4 text-center my-4">About US</h2>
  <img src="../media/pic23.jpg" alt="" class="float-left mx-4 px-4" />
  <div class="container mt-4 pt-4">
    <p>
      Start_Hub is a platform where people can apply for job or internships in
      startups. And people can also invest their money in the startups they want
      to. also this platform will help startups to get funding in order to build
      their product and employees or interns to work for them. The motive behind
      this project is to get proper funding to the startups and create
      employment oppotunities.
    </p>
    <h4>
      This project is not completed yet.work in process.
    </h4>
    <p>
      For more info visit
      <span
        ><a href="https://github.com/MandarJadhav139/"
          >https://github.com/MandarJadhav139/</a
        ></span
      >
    </p>
  </div>
</div>
{% endblock %}
