#cardhover:hover {
  opacity: 0.8;
}
#cardhover a {
  visibility: hidden;
}
#cardhover:hover a {
  visibility: visible;
}

#particles-js {
  background-image: url("../../media/images.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}
.body {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
#listpage {
  background-image: url("../../media/images13.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
}
#detailpage {
  background-image: url("../../media/images17.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
}
